@import "../node_modules/bootstrap/scss/bootstrap";


:root {
  --bd-purple: #4c0bce;
  --bd-violet: #712cf9;
  --bd-accent: #ffe484;
  --bd-violet-rgb: 112.520718,44.062154,249.437846;
  --bd-accent-rgb: 255,228,132;
  --bd-pink-rgb: 214,51,132;
  --bd-teal-rgb: 32,201,151;
  --docsearch-primary-color: var(--bd-violet);
  --docsearch-logo-color: var(--bd-violet);
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet);
  --bs-btn-border-color: var(--bd-violet);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($purple, 10%)};
  --bs-btn-hover-border-color: #{shade-color($purple, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($purple, 20%)};
  --bs-btn-active-border-color: #{shade-color($purple, 20%)};
}